@import "reset";

:root {
    --font-color: #333;
    --border-color: #ccc; 
}

// .body {}

.inner {
    width: 1340px;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

#app {
    font-size: 1rem;
    font-weight: 400;
    padding: 20px;
    height: 100vh;
}

/* closest date */
.closest-date {
    display: inline-block;
    border-top: var(--border-color) dashed 1px;
    padding-top: .5em;
    margin-top: .5em;

    .festival {
        font-weight: 700;
    }
}
