
#app {
    font-size: 1.5rem;
    font-weight: 400;
}

#js_html {
    font-weight: 700;
}

.search {
    font-size: 1em;
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}

#inputDate {
    font-size: 1em;
    width: 7.5em;
    height: 1em;
    padding: 5px;
}

.btn {
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    line-height: 1;
    white-space: nowrap;
    margin-left: 10px;
}