@import "reset";

/* --------------------------------------------------------- */
/* mixin */
@mixin ab {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

@mixin coverImg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}
/* --------------------------------------------------------- */
$flex_width: calc(100% / var(--flex-list-col-num) - (var(--flex-list-column-gap) * calc(var(--flex-list-col-num) - 1) / var(--flex-list-col-num)));

:root {
    --font-color: #333;
    // --key-color:  ;

    --flex-list-col-num: 0;
    --flex-list-column-gap: 0;
}


/* ------------------------------------------------------ */
/* scrollbar */
::-webkit-scrollbar {
    display: none;
}


::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none
}
/* ------------------------------------------------------ */


body {
    overflow-x: hidden;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color);
    position: relative;
    z-index: 5;

    font-size: 16px;

    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.inner {
    width: 1440px;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.nowrap {
    white-space: nowrap;
    display: inline-block;
}

.hasbg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;

    img {
        @include coverImg;
    }
}

svg{
    width: 1em;
    min-width: 1em;
    height: 1em;
}

/* =================================================================== */
/* #app style */
// #app {}

.logo {
    text-align: center;
}

.links {
    a {
        display: inline-block;
        padding: 10px 20px;
    }
}

/* =================================================================== */
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;


    background: wheat;
    block-size: 100vb;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    text-align: center;

    @media (max-width: 767px) {
        grid-template-rows: 1fr;
    }
}

#eyes {
  --size: clamp(64px, 30vi, 256px);
  block-size: var(--size);
  inline-size: var(--size);
}
