@charset 'utf-8';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

select,
button,
input,
textarea,
button {
    border: 1px solid #333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table,
td,
th {
    border: 1px solid #333;
}

td,
th {
    line-height: 1.5;
    padding: 0.3em 0.4em;
}

th {
    font-weight: bold;
    font-size: 1.05em;
}

html {
    font-size: 100%;
    background-color: #ffffff;
    word-break: break-word;
}

body {
    min-height: 100vh;
    color: #333;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal 14px/1.6 sans-serif;
    background-color: #ffffff;
}

hr {
    overflow: visible;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 1em 0;
    height: 0;
    border-top: 1px solid #ccc;
}

button:disabled {
    cursor: default;
}

a,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
dialog,
hr,
img {
    display: block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    display: inline-block;
    vertical-align: middle;
}

[hidden],
dialog:not([open]),
template {
    display: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    border-radius: 0;
}

textarea {
    resize: vertical;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

input,
select {
    vertical-align: middle;
}

button {
    vertical-align: inherit;
    line-height: inherit;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

code,
kbd,
pre,
samp {
    font-family: monospace, sans-serif;
    font-size: 1em;
}

mark {
    background-color: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}